<a href="https://colab.research.google.com/github/Shivaram17/AccEngine_PythonDemoCodes/blob/main/10022AdvancedPython_MaskFunc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the libraries
import pandas as pd
import numpy as np

# data
student = {
	'Name': ['John', 'Jay', 'sachin', 'Geetha', 'Amutha', 'ganesh'],
	'gender': ['male', 'male', 'male', 'female', 'female','both'],
	'math score': [50, 100, 70, 80, 75, 40],
	'test preparation': ['none', 'completed', 'none', 'completed',
						'completed', 'none'],
}

# creating a Dataframe object
df = pd.DataFrame(student)


# Applying the condition
# df["gender"] = np.where(df["gender"] == "female", "SSA", "MENA")
df['gender'].mask(df['gender'] == 'female', 0, inplace=True)
df

     Name gender  math score test preparation
0    John   male          50             none
1     Jay   male         100        completed
2  sachin   male          70             none
3  Geetha      0          80        completed
4  Amutha      0          75        completed
5  ganesh   both          40             none

In [3]:
import pandas as pd

# define data
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}

# create dataframe
df = pd.DataFrame(data)

print("Original DataFrame:")
display(df)

# shift column 'C' to first position
first_column = df.pop('C')

# insert column using insert(position,column_name,first_column) function
df.insert(1, 'Join', first_column)

print()
print("Final DataFrame")
df

Original DataFrame:

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Final DataFrame

   A  Join  B
0  1     7  4
1  2     8  5
2  3     9  6